@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: Cubano;
    src: url(/static/fonts/Cubano.ttf);
    font-display: swap;
}
