@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root {
    --mainColor: #121212;
    --secondaryColor: #FFF;
    --infoColor: #BB86FC;
    --infoColor2: #03DAC6;
    --infoColor3: #F38BA0;
    --skillPrimary: #fe58a0;

    --borderColor: #c1c1c1;

    --mainText: black;
    --skillTextPrimary: #363636;
    --secondaryText: #4b5156;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto Mono', monospace;
    /* background: var(--mainColor); */
    scroll-behavior: smooth;
    background: #011627;
    color: #5f7e97;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Montserrat', sans-serif;
}

p,
li,
span,
label,
input,
textarea {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.sec {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100%;
    margin-right: 80px;
}


/* Header */
header {
    position: fixed;
    top: 30vh;
    right: 10px;
    z-index: 20;
}

.sec-s1 {
    flex-direction: column;
    align-items: flex-start
}

/* Logo */
.logo {
    position: fixed;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 100%;
    max-width: 70px;
    /* border: 2px solid var(--infoColor3); */
    border-radius: 20px;
    padding: 5px;
    background: #7e57c2;
}

/* Menu bar */
.menu {
    width: 100%;
    max-height: 600px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    z-index: 20;
    transition: 300ms;
    border: 2px solid #084d81;
    flex-direction: column;
    background: #011627;
}
.menu-active{
    transform: translateX(100px)
}

.menu-box {
    position: relative;
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.menu-box {
    font-size: 1.6rem;
}

.menu-box::before {
    position: absolute;
    content: ""attr(data-title) "";
    top: 36%;
    left: 50%;
    transform: translateY(60px) translateX(-50%);
    z-index: 10;
    font-size: 12px;
    font-family: inherit;
    letter-spacing: 0.52px;
    transition: 300ms;
}

.menu-box:hover::before {
    transform: translateY(0) translateX(-50%);
}

.menu-box:hover .menu-icon {
    transform: translateY(-60px);
}

.menu-icon {
    display: inline-block;
    transition: 350ms;
    transform: translateY(0);
}

.menu li:nth-child(1) a {
    color: rgb(247, 123, 22);
}

.menu li:nth-child(2) a {
    color: rgb(29, 175, 90);
}

.menu li:nth-child(3) a {
    color: rgb(224, 24, 157);
}

.menu li:nth-child(4) a {
    color: rgb(139, 53, 53);
}

.menu li:nth-child(5) a {
    color: rgb(240, 0, 0);
}

.menu li:nth-child(6) a {
    color: rgb(25, 133, 255);
}


/* Intro */
.intro-wrapper {
    background: #0b2942;
    border: 1px solid #5f7e9790;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
    user-select: none;
}


.nav-wrapper {
    grid-area: nav-wrapper;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    background: #d6deeb;
    align-items: center;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.browser-dot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 5px;
}

#dot-1 {
    background: #FF605C;
}

#dot-2 {
    background: #FFBD44;
}

#dot-3 {
    background: #00CA4E;
}

#drawer {
    display: flex;
    margin-inline: 5px;
    padding: 10px;
    width: 20%;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

#drawer #burger-menu {
    cursor: pointer;
}
s


.left-column {
    grid-area: left-column;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Profile */
#profile-pic {
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
    min-width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Intro preview Text */
#preview {
    width: 400px;
    position: relative;
    border: 1.5px solid #16abc2;
    background: #084d817a;
    color: #fff;
    padding: 20px;
    user-select: none;
}

#preview h1 {
    font-size: 3rem;
    font-weight: 600;
}

.corner {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1.5px solid #16abc2;
    background-color: #fff;
}

#corner-tl {
    top: -7px;
    left: -7px;
}

#corner-tr {
    top: -7px;
    right: -7px;
}

#corner-br {
    bottom: -7px;
    right: -7px;
}

#corner-bl {
    bottom: -7px;
    left: -7px;
}

#preview-shadow {
    max-width: 400px;
    height: 200px;
    padding-left: 35px;
    padding-top: 30px;
    background: #084d81;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.social-media a {
    font-size: 2rem;
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.social-media a:hover {
    transform: translateY(2px);
}

.social-media a:hover span {
    transform: scale(0.9);
}

.social-media li:nth-child(1) a {
    color: black;
}

.social-media li:nth-child(2) a {
    color: rgb(226, 48, 152);
}

.social-media li:nth-child(3) a {
    color: orangered;
}

.social-media li:nth-child(4) a {
    color: #3b5998;
}

.social-media li:nth-child(5) a {
    color: #5865F2;
}

/* About section  */
.section-title {
    margin: 2rem;
}

.heading {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #d6deeb;
}

.seperator {
    width: 25%;
    margin: 15px auto;
    position: relative;
}

.seperator::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
}

.seperator::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #c792ea;
}

.about-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    width: 40%;
    margin: 50px;
}

.right-content {
    width: 60%;
    margin: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-content .left-content img {
    width: 100%;
    min-width: 230px;
    max-width: 400px;
    border-radius: 20px;
}

.left-content,
.right-content {
    position: relative;
}

.left-content::before {
    content: 'yes, its me';
    text-transform: capitalize;
    position: absolute;
    right: -60px;
    top: -30px;
}

.left-content::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 50px;
    width: 50px;
    height: 2px;
    background: #fff;
    transform-origin: right;
    transform: rotate(-30deg);
}

.about-image {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

#download-cv {
    width: 190px;
    color:  #addb67;
    font-size: 1.2rem;
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px;
    background: #5f7e9790;
    margin: 30px 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
#download-cv:hover{
    transform: translateY(-10px);
    box-shadow: 23px 21px 43px -17px rgba(0, 0, 0, .75);
}

/* Skill Section */
.skill {
    display: grid;
    padding: 16px;
    transition: all 0.5s ease-in-out;
}

.skill .card {
    /* background: var(--primaryColor); */
    padding: 2rem;
    margin: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    will-change: transform, box-shadow;
    box-shadow: 23px 21px 43px -17px rgba(0, 0, 0, .10);
}

.skill .card:hover {
    transform: translateY(-10px);
    box-shadow: 23px 21px 43px -17px rgba(0, 0, 0, .75);
}

.skill .card svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    font-size: 2.2rem;
    color: #fff;
    background-color: #E41F7B;
    padding: 10px;
    border-radius: 35%;
    margin-inline: auto;
}

.skill .card>.skill-header {
    padding-block: 24px;
    font-size: 1.4rem;
    text-align: center;
    color:   #82aaff;
}

.skill .card .skill-list {
    padding-block: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;
    /* color: var(--secondaryText); */
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
}

/* Education Section */
.sec-s4 {
    display: flex;
    align-items: flex-start;
}

.row {
    display: flex;
}

.row section {
    font-family: 'Montserrat', sans-serif;
    /* background-color:var(--secondaryColor); */
    border-radius: 5px;
    width: calc(50% - 50px);
    padding: 20px;
    position: relative;
}

.sec-s4 .center-line {
    position: absolute;
    height: 80%;
    width: 4px;
    /* background: var(--secondaryColor); */
    left: 50%;
    transform: translateX(50%);
    top: 20%;
}

.sec-s4 .main-container {
    position: relative;
    padding: 0 20px;
}

.sec-s4 .row-1 {
    justify-content: flex-start
}

.sec-s4 .row-2 {
    justify-content: flex-end
}

.row section .bottom,
.row section .details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.row section .details .title {
    font-size: 1.6rem;
    z-index: 5;
}

.row section p {
    margin: 10px 5px;
    font-family: 'Montserrat', sans-serif;
}

.row section .bottom a {
    width: 130px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--infoColor3);  */
    /* color: var(--secondaryColor); */
    border-radius: 5px;
}

.row section .bottom a span {
    margin: 5px;
}

.row section::before {
    position: absolute;
    content: "";
    /* background:var(--secondaryColor); */
    height: 20px;
    width: 20px;
    top: 28px;
    transform: rotate(45deg);
    z-index: 0;
}

.row-1 section::before {
    right: -9px;
}

.row-2 section::before {
    left: -9px;
}

.row section .icon,
.center-line .scroll-icon {
    position: absolute;
    /* color: var(--infoColor3); */
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    /* background: var(--secondaryColor); */
    top: 13px;
    z-index: 6;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
    top: 100%;
    left: -22px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-1 section .icon {
    right: -80px;
}

.row-2 section .icon {
    left: -70px;
}

/* Media Querry */
@media screen and (max-width:1200px) {
    .main-container {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px) {
    .skill {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:800px) {
    html {
        font-size: 10px;
    }

    .logo {
        position: relative;
        top: 0;
    }

    .sec-s1 {
        flex-direction: column;
        align-items: flex-start
    }

    .sec {
        margin-right: 0;
        max-height: 100%;
    }

    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'left-column'
            'right-column'
        ;
    }

    .right-column {
        justify-content: center;
    }

    header {
        position: fixed;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100vw;
        margin: 0 auto;
    }

    .menu {
        flex-direction: row;
        width: 100%;
    }

    #preview {
        width: 300px;
    }

    #preview-shadow {
        width: 300px;
        height: 140px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .about-content {
        flex-direction: column;
    }

    .right-content {
        width: 100%;
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .left-content {
        width: 100%;
        max-width: 230px;
    }

    #download-cv {
        width: 130px;
    }

    .left-content::before {
        content: 'yes, its me';
        text-transform: capitalize;
        position: absolute;
        right: -60px;
        top: -30px;
    }

    .left-content::after {
        content: '';
        position: absolute;
        top: -10px;
        right: 10px;
        width: 50px;
        height: 2px;
        background: #fff;
        transform-origin: right;
        transform: rotate(-30deg);
    }

    .skill {
        grid-template-columns: 1fr;
    }


    .sec-s4 .row {
        margin: 30px 0 30px 60px;
        justify-content: flex-start;
    }

    .sec-s4 .center-line {
        left: 20px;
        top: 15%;
    }

    .sec-s4 .row section {
        width: 100%;
    }

    .row section::before {
        left: -9px;
    }

    .row-1 section .icon,
    .row-2 section .icon {
        left: -80px;
    }

    .row section .bottom a {
        width: 100px;
    }
}