@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

:root {
    --bgPrimary: #0E1630;
    --bgSecondary: #182038;
    --primaryColor: #fff;
    --secondaryColor: #9ca9c9;
    --infoColor: #ef4782;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background: url("../image/bg.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--secondaryColor);
    font-family: 'Quicksand', sans-serif;
}

a {
    color: var(--primaryColor);
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;

}

.title {
    position: relative;
    margin-left: 50px;
}

.heading {
    position: absolute;
    top: 30px;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--infoColor);
}

.heading::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -60px;
    width: 50px;
    height: 4px;
    background: var(--infoColor);
    transform-origin: left;
    border-radius: 5px;
}

.btn {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 15px;
    border: 2px solid var(--infoColor);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    font-size: 1.2rem;
    margin-inline-end: 10px;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    background-color: rgba(24, 32, 56, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.125);

    i {
        margin-inline: 10px;
    }
}

.btn:hover {
    box-shadow: 0 0 10px 0 #f83278 inset, 0 0 20px 2px #f13275;
    border: 2px solid #fd3a7f;
}

.btn:active {
    box-shadow: 0 0 5px 0 #f83277cc inset, 0 0 10px 1px #f83277cc;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}


/*NOTE Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 15vh;

}

header .logo {
    margin-inline: 10px;
    font-size: 1.4rem;
}

header .logo span {
    color: var(--infoColor);
}

header .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: var(--secondaryColor);
}

header .nav-links .nav-link a {
    color: var(--secondaryColor);
    position: relative;
}

header .nav-links .nav-link a::before,
header .nav-links .nav-link a::after {
    transition: all .5s;
}

header .nav-links .nav-link {
    margin-inline-end: 10px;
}

header .nav-links .nav-link a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    color: transparent;
    background: var(--infoColor);
    height: 4px;
    border-radius: 2px;
}

header .nav-links .nav-link a:hover::after,
header .nav-links .nav-link a:hover {
    width: 100%;
    color: var(--primaryColor);
}

// NOTE Home Section
.home-container {
    height: 85vh;
}

/* Intro */
.intro-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
    margin: 30px;
    user-select: none;
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(6px) saturate(90%);
    -webkit-backdrop-filter: blur(6px) saturate(90%);
    background-color: rgba(24, 32, 56, 0.719);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    .home-nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(24px);
        border-radius: 10px 10px 0px 0px;
        background: rgba(35, 37, 38, 0.8);
        backdrop-filter: blur(24px);
        border-radius: 10px 10px 0px 0px;
        height: 70px;
        padding-right: 20px;

        .nav-social {
            display: flex;

            .social-item {
                background: rgba(255, 255, 255, 0.08);
                border-radius: 10px;
                padding: 8px;
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                min-width: 70px;
                max-width: 100px;
                justify-content: space-between;
                margin-inline: 5px;
                height: 40px;

                img {
                    width: 20px;
                    margin-right: 4px;
                }
            }
        }

        .dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;

            .dot {
                margin: 6px;
                height: 16px;
                width: 16px;
                border-radius: 50%;
            }

            .dot:nth-child(1) {
                background: #ED6A5E;
                border: 0.6px solid rgba(0, 0, 0, 0.1);
            }

            .dot:nth-child(2) {
                background: #F4BF4E;
                border: 0.6px solid rgba(0, 0, 0, 0.1);
            }

            .dot:nth-child(3) {
                background: #62C554;
            }
        }
    }


    .home-right {
        .avatar-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                max-width: 350px;
                min-width: 250px;
            }
        }
    }

    .home-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
        color: var(--primaryColor);

        h1 {
            font-size: 4rem;
        }

        h3 {
            font-size: 1.4rem;
            color: var(--secondaryColor);
            font-weight: 400;
        }

        .home-btns {
            display: flex;
            margin-block: 10px;

            .btn:nth-child(1) i {
                color: rgb(30, 84, 235);
            }

            .btn:nth-child(2) i {
                color: rgb(15, 226, 156);
            }
        }

        .heading {
            position: relative;
            top: -10px;
        }
    }
}

.home-nav {
    grid-area: nav-wrapper;
}

.home-left {
    grid-area: left-column;
    margin-top: 70px;
}

.home-right {
    grid-area: right-column;
    display: grid;
    align-content: center;
    margin-top: 70px;
}

// NOTE About Section
.about-container {
    width: 100%;
    display: flex;

    flex-direction: column;

    .about-wrapper {
        display: flex;
        align-items: center;
    }

    .about-right {
        margin: 40px;
        position: relative;

        .avatar-card {
            img {
                width: 100%;
                max-width: 400px;
                border-bottom-right-radius: 40px;
                border-top-right-radius: 40px;
                border-top-left-radius: 40px;
            }

        }
    }

    .about-right::before {
        content: 'yes, its me';
        text-transform: capitalize;
        position: absolute;
        left: -60px;
        top: -30px;
    }

    .about-right::after {
        content: '';
        position: absolute;
        top: 30px;
        left: -10px;
        width: 70px;
        height: 2px;
        background: #fff;
        transform-origin: right;
        transform: rotate(30deg);
    }

    .about-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 50%;
        margin: 50px;

        h3 {
            font-size: 1.6rem;
            color: var(--primaryColor);
            margin-block: 10px;
        }

        p {
            font-size: 1.1rem;
            color: var(--secondaryColor);
            margin-block: 10px;
        }

        .about-btns {
            display: flex;

            .btn:nth-child(1) i {
                color: rgb(255, 51, 15);
            }

            .btn:nth-child(2) i {
                color: rgb(15, 226, 156);
            }
        }
    }
}

// NOTE Skill section
.skill-container {

    display: flex;
    flex-direction: column;

    .skill-wrapper {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 50px;
        .skill-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-block: 10px;

            h3 {
                font-size: 1.6rem;
                color: var(--primaryColor);
                margin-block: 10px;
            }
    
                p {
                    font-size: 1.1rem;
                    color: var(--secondaryColor);
                    margin-block: 10px;
                }
        }
        .skill-right {
            display: flex;
            flex-wrap: wrap;
            .tech-card {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                position: relative;
                width: 80px;
                height: 80px;
                color: var(--infoColor);
                background: #171F38;
                margin: 20px;
                border-radius: 10px;
                border-bottom: 0px solid var(--infoColor);
                transition: all 0.3s ease-in-out;
                .toolTip {
                    visibility: hidden;
                    width: 120px;
                    font-size: 1rem;
                    background: #171F38;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 110%;
                    left: 50%;
                    margin-left: -60px;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }

                .toolTip::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }
            }

            .tech-card:hover {
                border-bottom: 10px solid var(--infoColor);
                .toolTip {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {

    header .nav-links .nav-link:nth-child(6),
    header .nav-links .nav-link:nth-child(7) {
        display: none;
    }
}


@media screen and (max-width:800px) {
    html {
        font-size: 10px;
    }

    header .nav-links {
        display: none;
    }

    .title {
        position: relative;
        margin-left: 80px;
    }

    .heading {
        top: -20px;
    }

    .heading::after {
        content: '';
        position: absolute;
        top: 7px;
        left: -60px;
        width: 50px;
        height: 4px;
        background: var(--infoColor);
        transform-origin: left;
        border-radius: 5px;
    }

    .intro-wrapper .home-nav .nav-social {
        display: none;
    }

    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'right-column'
            'right-column'
            'left-column'
        ;
    }

    .btn {
        backdrop-filter: none;
        background-color: rgba(24, 32, 56, 0.9);
        min-width: 150px;

        i {
            margin-inline: 5px;
        }
    }

    .intro-wrapper {
        backdrop-filter: none;
        text-align: center;

        .home-nav {
            background: rgba(35, 37, 38, 0.918);
            background-image: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .home-right {
            .avatar-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 250px;
                }
            }
        }

        .home-left {
            margin-left: 0;
            margin-top: 10px;

            .home-btns {
                justify-content: center;

                .btn {
                    width: 140px;
                }
            }

            .title {
                margin-left: 0px;
                margin-top: 10px;
            }

            .heading::after {
                display: none;
            }
        }
    }

    // About 
    .about-container {
        .about-wrapper {
            flex-direction: column-reverse;
            width: 100%;

            .about-left {
                width: 80%;

                .about-btns {
                    align-items: center;
                    margin: 0 auto;
                }
            }

            .about-right::before {
                left: -20px;
                top: -30px;
            }

            .about-right::after {
                top: 30px;
                left: 10px;
            }
        }
    }

    // Skill section
    .skill-container .skill-wrapper
    {
        flex-direction: column;
    .skill-left{
        width: 100%;
        margin-block: 10px;
    }
    .skill-right{
        justify-content: center;
        width: 90vw;
        margin: 20px;
        .tech-card {
            width: 100%;
            width: 60px;
            height: 60px;
            .toolTip {
                visibility: hidden;
                width: 80px;
                font-size: 1rem;
                background: #171F38;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 110%;
                left: 50%;
                margin-left: -40px;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            .toolTip::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }
        }
        .tech-card:hover {
            border-bottom: 5px solid var(--infoColor);
            .toolTip {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
    

}