@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

:root {
    --bgPrimary: #0E1630;
    --bgSecondary: #182038;
    --primaryColor: #fff;
    --secondaryColor: #9ca9c9;
    --infoColor: #ef4782;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background: url("../image/bg.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--secondaryColor);
    font-family: 'Quicksand', sans-serif;
}

a {
    color: var(--primaryColor);
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    position: relative;
    margin-block: 20px;
}

.heading {
    font-size: 1.7rem;
    color: var(--infoColor);
}

.heading::after {
    content: '';
    position: absolute;
    top: 16px;
    left: -60px;
    width: 50px;
    height: 4px;
    background: var(--infoColor);
    transform-origin: left;
}

/*NOTE Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 10vh;
}

header .logo {
    margin-inline: 10px;
    font-size: 1.4rem;
}

header .logo span {
    color: var(--infoColor);
}

header .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: var(--secondaryColor);
}

header .nav-links .nav-link a {
    color: var(--secondaryColor);
    position: relative;
}

header .nav-links .nav-link a::before,
header .nav-links .nav-link a::after {
    transition: all .5s;
}

header .nav-links .nav-link {
    margin-inline-end: 10px;
}

header .nav-links .nav-link a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    color: transparent;
    background: var(--infoColor);
    height: 4px;
    border-radius: 2px;
}

header .nav-links .nav-link a:hover::after,
header .nav-links .nav-link a:hover {
    width: 100%;
    color: var(--infoColor);
}

// NOTE Home Section
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;

    .home-right .avatar-card {
        backdrop-filter: blur(9px) saturate(100%);
        -webkit-backdrop-filter: blur(9px) saturate(100%);
        background-color: rgba(24, 32, 56, 0.59);
        border: 1px solid rgba(255, 255, 255, 0.125);
        padding: 15px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;

        img {
            width: 100%;
            max-width: 450px;
            min-width: 250px;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }
    }

    .home-left {
        color: var(--primaryColor);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 50%;
        h1 {
            font-size: 5rem;
        }

        h3 {
            font-weight: 400;
            color: var(--secondaryColor);
            font-size: 2rem;
        }

        .home-btn {
            padding: 20px;
            backdrop-filter: blur(22px) saturate(100%);
            -webkit-backdrop-filter: blur(22px) saturate(100%);
            background-color: rgba(24, 32, 56, 0.81);
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.125);
        }

    }
}





//NOTE Media Querry
@media screen and (max-width: 880px) {

    header .nav-links .nav-link:nth-child(6),
    header .nav-links .nav-link:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width:800px) {
    header .nav-links {
        display: none;
    }
}